@model IEnumerable<Store>

@using System.Activities.Expressions
@using PCDSWebsite.Models
@using StoreStockingSystem.Models
@using StoreStockingSystem.Services;
@using Stock = StoreStockingSystem.Models.Stock
@using Store = StoreStockingSystem.Models.Store

@{
    ViewBag.Title = "Stores";
}

<!DOCTYPE html>

<html>
<head>
    <title>ViewBag.Title</title>

</head>
<body>
    <h2>Stores</h2>


    <table id="stores-table" class="display" width="100%">
        <thead>
            <tr>
                <th>Store Id</th>
                <th>Store Name</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var store in Model)
            {
                <tr>
                    <td>@store.Id</td>

                    <td>@store.Name</td>

                    <td>
                        @Html.ActionLink("Details", "StoreDetails", new { store.Id })
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>
</html>

@section scripts
{
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables-1.10.5/media/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.5/media/js/jquery.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="~/Scripts/DataTables-1.10.5/media/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $("#stores-table").DataTable();
        });

    </script>
}

